<h1>Conversations</h1>

<% @conversations.each do |conversation| %>
  <%= link_to conversation.opposed_user(current_user).email+'('+conversation.messages.unread_from_sender(current_user).count.to_s+')', conversation %>
<% end %>