<h1>Conversations</h1>

<% @conversations.each do |conversation| %>
  <%= link_to conversation.opposed_user(current_user).email+'('+conversation.messages.where(read: false ).where.not(sender_id: current_user.id).count.to_s+')', conversation %>
<% end %>