<h2 class="display-4 text-center mb-4">List of Pending Approvals for Sell</h2>
  <%= render partial: "approvals", locals: { items: @sell } %>
</div>
<h2 class="display-4 text-center mb-4">List of Pending Approvals for Buyer Requirements</h2>
  <%= render partial: "approvals", locals: { items: @buy } %>
</div>