<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi,I am Interested in your Post </h2>
    <h3>Name: <%= @obj.body['name'] %></h3>
    <br>
    <h3>Email: <%= @obj.body['email'] %></h3>
  </body>
</html>
