// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sell-button{
  background-color: #c79d6d !important;
  border-color: #c79d6d !important;
  color: black!important;
}
.sell-button:hover{
  background-color: black!important;
  border-color: black!important;
  color: #c79d6d !important;
}
a{
  text-decoration: none!important;
  color: black!important;
}
/* Style for the reviews section */
#reviews-section {
  margin-top: 20px;
}

/* Style for each review */
.review {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

.review .rating {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review .username {
  font-size: 14px;
  color: #555;
}

.review .comment {
  font-size: 14px;
  margin-top: 5px;
}
.rating-input {
  display: inline-block;
}
