// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.view-more{
  text-align: center;
  text-decoration: none;
}
.view-more:hover{
  text-align: center;
  text-decoration: none;
  color:black;
}
.card-body a{
  text-decoration: none;
}