<%= render partial: 'shared/filter', locals: { filter_path: sell_products_path } %>
<h2 class="display-2 text-center">List of Requirements Posted</h2>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <%= render partial: "welcomes/item_card", locals: { item: item } %>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @items%>
<% if current_user %>
  <div id="sender" data-sender-id="<%= current_user.id %>"></div>
<% end %>
